<configuration>

    <!-- Appender Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %cyan(%d{HH:mm:ss}) %highlight(%-5level) %green(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Optional: giảm log Hibernate -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>

</configuration>
